<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#3DC2EC">
    <h1 style="text-align:center;"><a href="/">Home Page</a></h1>
    <h1 style="text-align:center">This is home page for practice project.</h1>
    <h2 style="text-align:center;color:#C80036"><a href="first_app/about/">About Page</a></h2>
    <h2 style="text-align:center">This is about page for practice project.</h2>
    <h2 style="text-align:center;color:#FFF455"><a href="first_app/context/">Context Practice</a></h2>
</body>
</html>