{% extends 'base.html' %} 
{% block head_title %}{{ title }}{% endblock %} 
{% block body %}
{% comment %} <h1>{{title}}</h1> {% endcomment %}
<div class="w-full flex mt-5 justify-center ">
    <div class="bg-white w-5/12 rounded-lg">
        <h1 class="font-bold text-3xl text-center pb-5 pt-10 px-5">{{ title }}</h1>
        <form method="post" class="px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}



            {% if form.errors %}
            <div class="mb-4 text-red-500">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.old_password.id_for_label }}">
                    Your Old Password
                </label>
                <input type="password" name="old_password" id="{{ form.old_password.id_for_label }}" 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Type your Old Password" />
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.new_password1.id_for_label }}">
                    Your New Password
                </label>
                <input type="password" name="new_password1" id="{{ form.new_password1.id_for_label }}" 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Type your new Password" />
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.new_password2.id_for_label }}">
                    Confirm New Password
                </label>
                <input type="password" name="new_password2" id="{{ form.new_password2.id_for_label }}" 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Confirm Your New Password" />
            </div>
            <div class="flex w-full justify-center">
                <button class="bg-blue-900 text-white hover:text-blue-900 hover:bg-white border border-blue-900 font-bold px-4 py-2 rounded-lg" type="submit">
                    Change
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}